<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.gemoc.executionframework.engine.ui.genericdebugmodel.GemocGenericDebugModelPresentation"
            id="org.eclipse.gemoc.executionframework.engine.ui.generic.debugModel">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.gemoc.executionframework.engine.ui.genericdebugmodel.GemocGenericSourceLocator"
            id="org.eclipse.gemoc.executionframework.engine.ui.generic.sourceLocator"
            name="GEMOC Generic Source Locator">
      </sourceLocator>
   </extension>
   
   
       <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.deciders">
      <DeciderSpecification
            Class="org.eclipse.gemoc.executionframework.engine.ui.concurrency.deciders.StepByStepUserDecider"
            Icon="icons/user-shield-green-16.png"
            Name="Step by step user decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.eclipse.gemoc.executionframework.engine.ui.concurrency.deciders.UserDecider"
            Icon="icons/user-shield-black-16.png"
            Name="User decider">
      </DeciderSpecification>
	</extension>
	
	  <extension
            point="org.eclipse.ui.views">
               <category
	            id="org.eclipse.gemoc.executionframework.ui.category"
	            name="Gemoc">
	      </category>
	      
	      	      <view
	            category="org.eclipse.gemoc.executionframework.ui.category"
	            class="org.eclipse.gemoc.executionframework.engine.ui.concurrency.views.step.LogicalStepsView"
	            icon="icons/IconeGemocModel-16.png"
	            id="org.eclipse.gemoc.executionframework.engine.io.views.steps.LogicalStepsView"
	            name="Concurrent Logical Steps Decider">
	      </view>
	      
	      	      <view
	            category="org.eclipse.gemoc.executionframework.ui.category"
	            class="org.eclipse.gemoc.executionframework.engine.ui.concurrency.strategyselector.StrategySelectionView"
	            icon="icons/IconeGemocModel-16.png"
	            id="org.eclipse.gemoc.executionframework.engine.io.views.StrategySelectionView"
	            name="Strategy Selection">
	      </view>
            
            
	</extension>
	
	 <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
          targetID="org.eclipse.sirius.ui.tools.perspective.modeling">
          
            <view
               id="org.eclipse.gemoc.executionframework.engine.io.views.steps.LogicalStepsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.sirius.ui.tools.views.model.explorer"
               visible="true">
         </view>
          
              <viewShortcut
               id="org.eclipse.gemoc.executionframework.engine.io.views.steps.LogicalStepsView">
         </viewShortcut>
          
          </perspectiveExtension>
           <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
            
            
              <view
               id="org.eclipse.gemoc.executionframework.engine.io.views.steps.LogicalStepsView"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.gemoc.executionframework.ui.views.engine.EnginesStatusView"
               visible="true">
         </view>
            
               <viewShortcut
               id="org.eclipse.gemoc.executionframework.engine.io.views.steps.LogicalStepsView">
         </viewShortcut>
            
            
           </perspectiveExtension>
         </extension>
</plugin>
