<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2017 Inria and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Inria - initial API and implementation
 --><plugin>
  <extension id="GemocSequentialLanguageBuilder" name="GemocSequentialLanguage Project Builder" point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.builder.GemocSequentialLanguageBuilder"/>
    </builder>
  </extension>
  <extension id="GemocSequentialLanguageNature" name="GemocSequentialLanguage Project Nature" point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.builder.GemocSequentialLanguageNature"/>
    </runtime>
    <builder id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageBuilder"/>
  </extension>
  <extension point="org.eclipse.ui.ide.projectNatureImages">
    <image icon="icons/IconeGemocLanguage-10.png" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.image" natureId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature"/>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <category id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.category" name="GemocSequentialLanguage Project Nature commands"/>
    <command categoryId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.category" defaultHandler="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.builder.AddRemoveGemocSequentialLanguageNatureHandler" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.addRemoveGemocSequentialLanguageNature" name="Add/RemoveGemocSequentialLanguage Project Nature"/>
    <command categoryId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.category" defaultHandler="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateDomainModelProjectHandler" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateDomainModelProject" name="CreateDomainModelProject"/>
    <command categoryId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.category" defaultHandler="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateDSAProjectHandler" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateDSAProject" name="CreateDSAProject"/>
    <command categoryId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.category" defaultHandler="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateSiriusEditorProjectHandler" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateSiriusEditorProject" name="CreateSiriusEditorProject"/>
    <command categoryId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.category" defaultHandler="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateXtextEditorProjectHandler" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateXtextEditorProject" name="CreateXtextEditorProject"/>
    <command categoryId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature.category" defaultHandler="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateAnimatorProjectHandler" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateAnimatorProject" name="CreateAnimatorProject"/>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=addition">
      <separator name="xdsmlGroup"/>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
      <command commandId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.addRemoveGemocSequentialLanguageNature" icon="icons/IconeGemocLanguage-16.png" label="Remove Sequential xDSML Project Nature" style="push">
        <visibleWhen checkEnabled="false">
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <adapt type="org.eclipse.core.resources.IProject">
                <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature"/>
              </adapt>
            </iterate>
          </with>
        </visibleWhen>
      </command>
      <command commandId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.addRemoveGemocSequentialLanguageNature" icon="icons/IconeGemocLanguage-16.png" label="Add Sequential xDSML Project Nature" style="push">
        <visibleWhen checkEnabled="false">
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <adapt type="org.eclipse.core.resources.IProject">
                <not>
                  <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature"/>
                </not>
              </adapt>
            </iterate>
          </with>
        </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=xdsmlGroup">
      <menu icon="icons/IconeGemocLanguage-16.png" id="GemocLanguage.menu" label="GEMOC Language">
        <command commandId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateDomainModelProject" icon="icons/plus-16.png" label="Create Domain Model Project for language" style="push">
          <visibleWhen checkEnabled="false">
            <with variable="selection">
              <count value="1"/>
              <iterate ifEmpty="false">
                <reference definitionId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.definitions.IsSelectionInGemocSequentialLanguageProject"/>
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command commandId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateSiriusEditorProject" icon="icons/plus-16.png" label="Create Sirius Editor Project for language" style="push">
          <visibleWhen checkEnabled="false">
            <with variable="selection">
              <count value="1"/>
              <iterate ifEmpty="false">
                <reference definitionId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.definitions.IsSelectionInGemocSequentialLanguageProject"/>
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command commandId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateXtextEditorProject" icon="icons/plus-16.png" label="Create XText Editor Project for language" style="push">
          <visibleWhen checkEnabled="false">
            <with variable="selection">
              <count value="1"/>
              <iterate ifEmpty="false">
                <reference definitionId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.definitions.IsSelectionInGemocSequentialLanguageProject"/>
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command commandId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateDSAProject" icon="icons/plus-16.png" label="Create DSA Project for language" style="push">
          <visibleWhen checkEnabled="false">
            <with variable="selection">
              <count value="1"/>
              <iterate ifEmpty="false">
                <reference definitionId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.definitions.IsSelectionInGemocSequentialLanguageProject"/>
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command commandId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.commands.CreateAnimatorProject" icon="icons/plus-16.png" label="Create Animator Project for language" style="push">
          <visibleWhen checkEnabled="false">
            <with variable="selection">
              <count value="1"/>
              <iterate ifEmpty="false">
                <reference definitionId="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.definitions.IsSelectionInGemocSequentialLanguageProject"/>
              </iterate>
            </with>
          </visibleWhen>
        </command>
      </menu>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.eclipse.gemoc.xdsmlframework.category" name="GEMOC Language"/>
    <category id="org.eclipse.gemoc.xdsmlframework.fragment.category" name="GEMOC Specific Language Fragment" parentCategory="org.eclipse.gemoc.xdsmlframework.category"/>
    <wizard category="org.eclipse.gemoc.xdsmlframework.category" class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.wizards.CreateNewGemocSequentialLanguageProject" finalPerspective="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective" icon="icons/IconeGemocLanguage-16.png" id="org.gemoc.gemoc_language_workbench.ui.wizards.CreateNewGemocSequentialLanguageProject" name="GEMOC Sequential xDSML Project" project="true">
      <description>
            Create a new xDSML project to specify an executable language that will run using the GEMOC java sequential  engine.
         </description>
    </wizard>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective">
      <newWizardShortcut id="org.gemoc.gemoc_language_workbench.ui.wizards.CreateNewGemocSequentialLanguageProject"/>
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.gemoc.commons.eclipse.pde.projectContent">
    <wizard class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.SequentialSingleLanguageNewWizard" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.projectContent.SequentialSingleLanguage" name="Simple GEMOC sequential project" targetPluginId="fr.inria.diverse.melange.ui">
      <description>
            This template creates a sequential language defined using a single Melange language and K3 aspects.
         </description>
    </wizard>
    <wizard class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.SequentialExtendedLanguageNewWizard" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.projectContent.SequentialExtendedLanguage" name="GEMOC sequential project (extended languages)" targetPluginId="fr.inria.diverse.melange.ui">
      <description>
            This template use a language extension mecanism (inheritance) in order to create a sequential language defined using a Melange language that is extended with K3 aspects in order to define a second language.
         </description>
    </wizard>
  </extension>
  <extension point="org.eclipse.gemoc.commons.eclipse.pde.templates">
    <template class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.SequentialSingleLanguageTemplate" contributingId="fr.inria.diverse.melange.ui.templates.template1" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.template_simple_sequential_language" name="Simple GEMOC sequential project"/>
    <template class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.SequentialExtendedLanguageTemplate" contributingId="fr.inria.diverse.melange.ui.templates.template1" id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.templates.template_sequential_extended_language" name="Simple GEMOC sequential project"/>
  </extension>
  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.definitions.IsSelectionInGemocSequentialLanguageProject">
      <adapt type="org.eclipse.core.resources.IResource">
        <test property="org.eclipse.core.resources.projectNature " value="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.GemocSequentialLanguageNature"/>
      </adapt>
    </definition>
  </extension>
  <extension point="fr.inria.diverse.melange.ui.contentassist_operator">
    <proposal class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.editor.SelectDsaProposal"/>
    <proposal class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.editor.CreateEcoreProposal"/>
    <proposal class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.editor.CreateDSAProposal"/>
  </extension>
  <extension point="fr.inria.diverse.melange.ui.contentassist_syntax">
    <proposal class="org.eclipse.gemoc.execution.sequential.javaxdsml.ide.ui.editor.SelectEcoreProposal"/>
  </extension>
</plugin>
