<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated engine -->
      <package
            uri="http://www.eclipse.org/gemoc/engine"
            class="org.eclipse.gemoc.executionframework.engine.model.engine.EnginePackage"
            genModel="model/engine.genmodel"/>
   </extension>

</plugin>
