<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon_group">
         <addonGroup
            name="General"
            id="General.AddonGroup">
      </addonGroup>
   </extension>

   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.deciders">
      <DeciderSpecification
            Class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.deciders.RandomDecider"
            Icon="icons/question-shield-black-16.png"
            Name="Random decider">
      </DeciderSpecification>
      <DeciderSpecification
            Class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.deciders.CcslSolverDecider"
            Icon="icons/app-shield-black-16.png"
            Name="Solver decider">
      </DeciderSpecification>
   </extension>
      <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon_group">
      <addonGroup
            name="General"
            id="General.AddonGroup">
      </addonGroup>
      <addonGroup
            name="Concurrent"
            id="Concurrent.AddonGroup">
      </addonGroup>
   </extension>
   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon">
      <addon
            addonGroupId="Concurrent.AddonGroup"
            class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.eventscheduling.trace.EventSchedulingModelExecutionTracingAddon"
            default="false"
            name="MultiBranch Reflective Trace"
            shortDescription="Trace the execution events. It is able to trace LogicalStep decisions of concurrent engine."
            id="EventSchedulingExecutionTracing.Addon">
      </addon>
   </extension>

</plugin>
