<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 Inria and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Inria - initial API and implementation
 -->

<plugin>

   <extension-point id="org.eclipse.gemoc.gemoc_language_workbench.xdsml" name="GEMOC Language Definition" schema="schema/org.eclipse.gemoc.gemoc_language_workbench.xdsml.exsd"/>
   <extension-point id="org.eclipse.gemoc.gemoc_language_workbench.engine_addon" name="Engine Addon" schema="schema/org.eclipse.gemoc.gemoc_language_workbench.engine_addon.exsd"/>
   <extension-point id="org.eclipse.gemoc.gemoc_language_workbench.engine_addon_group" name="Engine AddonGroup" schema="schema/org.eclipse.gemoc.gemoc_language_workbench.engine_addon_group.exsd"/>
   <extension-point id="org.eclipse.gemoc.gemoc_language_workbench.metaprog" name="Metaprogramming" schema="schema/org.eclipse.gemoc.gemoc_language_workbench.metaprog.exsd"/>

   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon_group">
         <addonGroup
            name="General"
            id="General.AddonGroup">
      </addonGroup>
   </extension>
   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.metaprog">
      <approach
            dependencies=" "
            name="org.eclipse.gemoc.metaprog.ecore">
         <languageComponent
               description="Entry to define the meta-model for the DSL"
               name="ecore"
               optional="false"
               validationRule="org.eclipse.gemoc.xdsmlframework.api.extensions.metaprog.EcoreRule">
         </languageComponent>
      </approach>
   </extension>
</plugin>
