<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated value -->
      <package
            uri="http://www.eclipse.org/gemoc/value"
            class="org.eclipse.gemoc.executionframework.value.model.value.ValuePackage"
            genModel="model/value.genmodel"/>
   </extension>

</plugin>
