<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated event -->
      <package
            uri="http://www.eclipse.org/gemoc/event"
            class="org.eclipse.gemoc.executionframework.event.model.event.EventPackage"
            genModel="model/event.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testsuite -->
      <package
            uri="http://http://www.eclipse.org/gemoc/event/testsuite"
            class="org.eclipse.gemoc.executionframework.event.testsuite.TestsuitePackage"
            genModel="model/testsuite.genmodel"/>
   </extension>

</plugin>
